---
import metadata from "../data/metadata.json";
---

<footer>
  <small>
    This project is maintained by <a href="https://www.navillus.dev">Navillus</a>.
    Check out the <a href={metadata.repo}>GitHub repo</a>.
  </small>
</footer>