<footer>
  <small>
    This project is maintained by <a href="https://www.navillus.dev">Navillus</a>.
    Check out the <a href="https://github.com/navillus-bv/demo-astro-netlify-cms">GitHub repo</a>.
  </small>
</footer>