---
    export let title: string;
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<link rel="stylesheet" href="/style/global.css">
<link rel="stylesheet" href="/style/home.css">