---
    export let description: string;
    export let title: string;
---

<meta charset="UTF-8">
<link rel="dns-prefetch" href="https://identity.netlify.com">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<meta name="description" content={description}>

<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<link rel="stylesheet" href="/style/global.css">
<link rel="stylesheet" href="/style/home.css">
  