<header>
    <div>
        <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
        <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
    </div>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: min(100%, 68ch);
    }
</style>