---
const navPages = [
    {
        url: '/',
        title: 'Home'
    },
    {
        url: '/about',
        title: 'About'
    },
    {
        url: '/blog',
        title: 'Blog'
    },
    {
        url: '/contact',
        title: 'Contact'
    }
]
---

<nav>
    {navPages.map(({ title, url }) => (
        <li>
            <a href={url}>{title}</a>
        </li>
    ))}
</nav>